*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;color: #999999;}
header{background-color:#FFD705; padding: 10px;}
header ul{display: flex;width: 1200px;justify-content: center;}
header ul li:first-of-type{margin-right: 30px;}
header ul li a{display: flex; justify-content: space-around; align-items: center; color: #fff; width: 421px; height: 40px; background-image: url(../img/header.png); background-position: 0 -36px;}
header ul li a input{height: 40px;height: 28px;width: 248px;border: none; background-color: #FFD705;}
h3{text-align: center; font-weight: normal; padding: 20px;}
section{background-color: #F5F5F5;}
section img{width: 280px; height: 260px;}
section ul{width: 1200px; display: flex; flex-wrap: wrap; justify-content: space-between; line-height: 2em; margin: auto;}
section ul li{margin-bottom: 20px;background-color: #fff; padding: 10px;}
section ul li dt:nth-of-type(2n+1){display: flex; justify-content: space-between; }
section ul li dt:nth-of-type(2n){text-align: right;color: #FFD705;}
section ul li dt:nth-of-type(3){color: #cccccc;}
table{width:1200px; margin: auto;border-collapse: collapse;}
table,td,th{border: 1px solid #cccccc;}
.btn{display: flex; width: 1200px; margin: auto; justify-content: space-between;}
table td:nth-of-type(1){text-align: center;}
table td:nth-of-type(4){text-align: center;}
table td:nth-of-type(5){text-align: center;}
article{margin-top: 20px;}

